<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prestacoop Alert!</title>
</head>

<body>
    <h1>New Prestacoop Alert (Message: {{ messageid }})</h1>
    <div>
        <p>
            Hello fellow officer,<br />
            <b>{{ droneid }}</b> could not qualify the infraction with accuracy.
        </p>
    </div>
    <div>
        <h2>Drone message details:</h2>
        statuscode: {{ statuscode }}
    </div>
</body>

</html>